// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

--root {
    --bs-primary: #0282F9;
    --bs-secondary: #1C1C1C;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
}

;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    z-index: 1;
    background-color: white;
}

main {
    margin-top: 0;
    background-color: #1C1C1C;
}


// JUMBOTRON


#jumbotron {
    position: relative;
    width: 100%;
    max-height: 400px;
    background: url('../../public/img/jumbotron.jpg');
    background-size: cover;
    height: 350px;
    color: white;
}

.tag {
    background-color: #0282F9;
    display: inline-block;
    position: relative;
    top: 95%;
}

// CUSTOM CSS

.cm-container {
    padding: 10px;
    margin: auto;
    max-width: 70%;
}

.card {


    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-position: top;
        object-fit: cover;
    }
}

.current-series {
    position: absolute;
    top: -26px;
    left: 15%;
    z-index: 2;

}

.menu {
    li {
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 35px 0; // aumentiamo il padding verticale
        border-bottom: 2px solid transparent;
        margin-bottom: -2px; // compensiamo lo spessore del bordo

        &:hover {
            color: var(--bs-primary);
            border-bottom-color: var(--bs-primary);
        }
    }
}

// FOOTER

footer {

    min-height: 100px;
}

#cta {
    background-color: var(--bs-primary);
}

#links {
    background-image: url('../../public/img/footer-bg.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;

    .dc-logo {
        position: absolute;
        right: -100px;
        top: 50%;
        transform: translateY(-50%);
        width: 500px;
    }
}

#bottom-footer {
    background-color: #303030;
    padding: 30px 0;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: var(--bs-primary);
        }
    }

    h4 {
        color: white;
        margin-bottom: 20px;
    }
}